input[type=button] {
	background: #c506ac;
	color: #fff;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 25px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}

#co {
	background: #145400;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 25px;
	position: absolute;
	left: 500px;
	top: 300px;
	cursor: pointer;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#co a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 15px;
}

#co:hover {
	background: #111;
}  

#c1 {
	position: absolute;
	z-index: 99999;
	top: 300px;
	left: 400px;
}

#c2 {
	position: absolute;
	z-index: 99999;
	top: 300px;
	left: 720px;
}